<div class="container">
  <fieldset class="upload-class">
    <legend> Upload Your Photo Here </legend>
    <div class="close-div">
      <img id="close-photo-div" src="remove.png" />
    </div>
    <%= form_for(@job_seeker, :url => upload_photo_path, :html => { :multipart => true }, :method => "post") do |f| %>
    <table>
        <tr><td> Choose File for Photo : </td><td><%= f.file_field :photo %></td></tr>
        <tr><td><%= f.submit "Upload Profile Photo" %></td></tr>
        <span></span>
      <% end %>
    </table>
  </fieldset>
</div>