<h2> Search Your Dream Job Here .... </h2>
<div id="search">
  <%= form_tag(:controller => "jobs", :action => 'search_results') do %>
  <table>
    <tr><td><%= text_field_tag :location, nil, :placeholder => "Search by Location" %></td></tr>
    <tr><td><%= text_field_tag :skills, nil, :placeholder => "Search by Skills" %></td></tr>
    <tr><td><%= submit_tag "Search For Jobs" %></td></tr>
    </table>
  <% end %>  
</div>