<h3>Here are the short listed candidates for the Job</h3>
<table>
  <th>Name</th>
  <% @job_applications.each do |application| %>
    <tr>
      <td><%= application.job_seeker.name %></td>
      <td>
        <%= link_to "Calling for interview", perform_action_job_application_path(application.id, :event => "calling_for_interview") %>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to "View Those Who are called for interview", view_job_applicants_job_path(:state => "called_for_interview") %>
