<h3>Here are the short listed candidates called for interview for the Job</h3>
<table>
  <th>Name</th>
  <% @job_applications.each do |application| %>
    <tr>
      <td><%= application.job_seeker.name %></td>
      <td>
        <%= link_to "Called for interview", perform_action_job_application_path(application.id, :event => "called_for_interview") %>


      </td>
    </tr>
  <% end %>
</table>

<%= link_to "View Those Who have been given offer", view_job_applicants_job_path(:state => "given_offer") %>
