<div id = "main-container">
  <%= render "job_seekers/login" %>
  <div id="search">
  <br />
    <form action="">
    <h2>Or Search for your dream job here..</h2>
      <input type="text" placeholder="Enter Keywords">
    </form>
  </div>
</div>
