<fieldset>
  <legend>Calling Candidate For Interview </legend>
  <h3> Welcome <%= @employer.name %></h3>
  <h4> Please fill in the interview date, so that the candidate can be intimated about the same </h4>
  <%= form_for (@job_application) do |f| %>
  <table>
    <td> Select Interview Date: </td>
    <td> <%= f.text_field :interview_on, :readonly => true %></td>
    <td> <%= f.submit %></td>
  </table>
<% end %>
</fieldset>